<div class="real-time-container">
	<h1 class="real-time-title">Products</h1>
	<ul class="real-time-list">
	</ul>
</div>
<script src="./socket.io/socket.io.js"></script>
<script src="/js/scripts.js"></script>